<!DOCTYPE html>
<html>
<head>
  <title>Login | WealthWise</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container center">
    <h2>📲 Login with Mobile</h2>
    <form method="POST">
      <input type="text" name="mobile" placeholder="Enter Mobile Number" required />
      <input type="email" name="email" placeholder="Enter Email Address" required />
      <button type="submit">Send OTP</button>
    </form>
    
  </div>
</body>
</html>
